$primary: #3137FD;
$white: #ffffff;
$link: $primary;
$fontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$pretty--color-success: $primary;
$pretty--color-default: $primary;
$text: #474C6D;

@import '../../node_modules/bulma/bulma.sass';
