@import './base.scss';

.m2-doc {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 60vh;
  &:focus {
    outline: none;
  }

  &>* {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0rem !important;
    border-left: 3px solid transparent;
  }

  &>ul {
    padding-left: 3rem;
    &.m2-edit-mode {
      padding-left: 2rem;
    }
  }

  pre {
    code {
      border: none;
    }
  }

  img {
    max-width: 100%;
  }

  .m2-edit-mode {
    white-space: pre-wrap;
    border-left: 3px solid rgba($primary, 0.3);
  }
}
