@import './base.scss';

.m2-files {
  section div {
    text-align: right;
    margin-bottom: 1rem;
  }

  td input {
    border: none;
    border-bottom: 1px dotted gray;
    font-size: 1rem;
    background-color: inherit;
    &:focus {
      outline: none;
    }
  }

  .m2-import {
    input {
      display: none;
    }
  }

  .m2-footer {
    text-align: right;
    a {
      color: lightgrey;
    }
  }
}

.m2-search {
  .m2-search-button {
    width: auto;
  }

  .m2-search-results {
    margin-top: 2rem;
    min-height: 15rem;
    .m2-search-result {
      cursor: pointer;
      padding: 1rem;
      border-top: 1px solid darken(white, 3%); 
      &:hover {
        background-color: darken(white, 2%);
      }
    }
  }
}
