@import './themes/github.scss';

.m2-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  &:focus {
    outline: none;
  }

  pre {
    @extend .md-fences;
    code {
      border: none;
    }
  }

  img {
    max-width: 100%;
  }
}
