@import './base.scss';

.m2-splash {
  max-width: 800px;
  margin: 20vh auto;
  padding: 1.5rem;
  text-align: center;

  .title.is-1 {
    font-size: 2.2rem;
    @include tablet {
      font-size: 3rem;
    }
    img {
      width: 3.5rem;
      padding: 0 1rem 0 1rem;
      @include tablet {
        width: 4rem;
      }
    }
  }

  .m2-cta {
    margin-top: 2rem;
    button {
      width: 100%;
      margin-top: 1rem;
      @include tablet {
        width: 15rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }}
  }

  .m2-tiles {
    margin-top: 5rem;
  }
}
