@import './base.scss';

.m2-splash {
  max-width: 800px;
  margin: 20vh auto;
  padding: 1.5rem;
  text-align: center;

  .title img {
    width: 4rem;
    padding: 0 1rem 0 1rem;
  }

  .m2-cta {
    margin-top: 2rem;
    button {
      width: 100%;
      margin-top: 1rem;
      @include tablet {
        width: 15rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }}
  }
}
